


<form (ngSubmit)="loginClicked()" class="d-flex justify-content-center fit-content mb-5">
  <div [formGroup]="formGroup" class="d-inline-grid">

      <span class="d-inline-grid py-4 display-3 ion-padding-horizontal">
        Willkommen!
        <span class="pt-4 h4">
          Noch keinen Account?
          <a routerLink="../register">Registrieren</a>
        </span>
      </span>


    <label class="ion-padding-horizontal ion-padding-top h5">Username</label>
    <ion-item class="">
      <ion-input placeholder="Username eingeben..." formControlName="username" maxlength="20" required="true" ></ion-input>
    </ion-item>
    <ion-text *ngIf="formGroup.controls['username'].dirty" color="danger" class="ion-padding-start ion-margin-bottom d-inline">
      <small *ngIf="formGroup.controls['username'].hasError('required')">Darf nicht leer sein!</small>
    </ion-text>


    <label class="ion-padding-horizontal ion-padding-top h5">Passwort</label>
    <ion-item class="">
      <ion-input [clearOnEdit]="false" [type]="hide ? 'password' : 'text'" placeholder="Passwort eingeben..." formControlName="password" required="true"></ion-input>
      <ion-button slot="end" (click)="hide = !hide" fill="clear">
        <ion-icon size="large" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-text *ngIf="formGroup.controls['password'].dirty" color="danger" class="ion-padding-start ion-margin-bottom d-inline">
      <small *ngIf="formGroup.controls['password'].hasError('required')">Darf nicht leer sein!</small>
    </ion-text>


    <div *ngIf="wrongCredentials" class="my-alert">Falsche Anmeldedaten</div>


    <ion-button class="mt-5" color="success" type="submit"
                [disabled]="formGroup.invalid">
      Anmelden
    </ion-button>

  </div>
</form>


