

<form (ngSubmit)="registerClicked()" class="d-flex justify-content-center fit-content mb-5">
  <div [formGroup]="formGroup" class="d-inline-grid">

    <h1 class="d-inline-grid py-4 display-3 ion-padding-horizontal">
      Willkommen!
      <h4 class="pt-4 h4">
        Hast Du bereits einen Account?
        <a routerLink="../login">Anmelden</a>
      </h4>
    </h1>


    <label class="ion-padding-horizontal ion-padding-top h5">Name</label>
    <ion-item class="">
      <ion-input placeholder="Namen eingeben..." formControlName="name" required="true"></ion-input>
    </ion-item>
    <div class="ion-margin-bottom ion-padding-start d-inline">
      <ion-text *ngIf="formGroup.controls['name'].dirty" color="danger">
        <small class="small" *ngIf="formGroup.controls['name'].invalid">Darf nicht leer sein!</small>
      </ion-text>
    </div>


    <label class="ion-padding-start ion-padding-top h5">Username</label>
    <ion-item counter="true" class="">
      <ion-input placeholder="Username eingeben..." formControlName="username" maxlength="20" required="true" ></ion-input>
    </ion-item>
    <div class="ion-margin-bottom ion-padding-start d-inline">
      <ion-text *ngIf="formGroup.controls['username'].dirty" color="danger">
        <small *ngIf="formGroup.controls['username'].hasError('required')" class="d-block">Darf nicht leer sein!</small>
        <small *ngIf="formGroup.controls['username'].hasError('pattern')" class="d-block">Erlaubte Zeichen: a-z 0-9 . - _</small>
        <small *ngIf="!userAvailable" class="d-block">Username bereits vergeben!</small>
      </ion-text>
    </div>


    <label class="ion-padding-horizontal ion-padding-top h5">Passwort</label>
    <ion-item class="">
      <ion-input [clearOnEdit]="false" [type]="hide ? 'password' : 'text'" placeholder="Passwort eingeben..." formControlName="password" required="true"></ion-input>
      <ion-button slot="end" (click)="hide = !hide" fill="clear">
        <ion-icon size="large" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="ion-margin-bottom ion-padding-start d-inline">
      <ion-text *ngIf="formGroup.controls['password'].dirty" color="danger">
        <small *ngIf="formGroup.controls['password'].hasError('required')" class="d-block">Darf nicht leer sein!</small>
        <small *ngIf="formGroup.controls['password'].hasError('pattern')" class="d-block">Mind. 8 Zeichen</small>
      </ion-text>
    </div>


    <label class="ion-padding-horizontal ion-padding-top h5">Passwort wiederholen</label>
    <ion-item class="">
      <ion-input type="password" placeholder="Passwort wiederholen..." formControlName="passwordRepeat" required="true"></ion-input>
    </ion-item>
    <div class="ion-margin-bottom ion-padding-start d-inline">
      <ion-text *ngIf="formGroup.controls['passwordRepeat'].dirty" color="danger">
        <small *ngIf="formGroup.controls['passwordRepeat'].hasError('required')" class="d-block">Darf nicht leer sein!</small>
        <small *ngIf="formGroup.controls['passwordRepeat'].hasError('wrongRepeat')" class="d-block">Passwort stimmt nicht überein</small>
      </ion-text>
    </div>


    <ion-button class="mt-5" color="success" type="submit"
                [disabled]="formGroup.invalid">
      Registrieren
    </ion-button>

  </div>
</form>


