<ion-fab class="d-flex ion-justify-content-center add-data ion-margin-bottom ion-padding">
  <ion-fab-button id="open-modal" color="success">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-card color="primary" class="ion-padding">
  <div echarts [options]="chartOptions.weight || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.shoulders || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.bicep.right || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.bicep.left || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.forearm.right || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.forearm.left || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.breast || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.waist || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.hip || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.leg.right || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>
<ion-card class="ion-padding">
  <div echarts [options]="chartOptions.leg.left || {}" class="chart" style="height: auto" [theme]="'dark'"></div>
</ion-card>




<ion-modal trigger="open-modal" [keepContentsMounted]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modelCancel()">
            <ion-icon [size]="'large'" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Neue Körpermaße</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modelConfirm()" [strong]="true">
            <ion-icon [size]="'large'" name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">


      <input-field endSlot="kg" label="Gewicht" [(model)]="rawNewData.weight" ></input-field>
      <input-field endSlot="cm" label="Schultern" [(model)]="rawNewData.shoulders" ></input-field>
      <input-field endSlot="cm" label="Brust" [(model)]="rawNewData.breast" ></input-field>
      <input-field endSlot="cm" label="Taille" [(model)]="rawNewData.waist" ></input-field>
      <input-field endSlot="cm" label="Hüfte" [(model)]="rawNewData.hip" ></input-field>


      <ion-accordion-group>
        <ion-accordion value="bicep">
          <ion-item slot="header" color="">
            <ion-label>Bizeps</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <input-field class="ion-margin-bottom" endSlot="cm" label="Rechts" [(model)]="rawNewData.bicep.right" ></input-field>
            <input-field endSlot="cm" label="Links" [(model)]="rawNewData.bicep.left" ></input-field>
          </div>
        </ion-accordion>

        <ion-accordion value="forearm">
          <ion-item slot="header" color="">
            <ion-label>Unterarm</ion-label>
          </ion-item>
          <div class="ion-padding d-flex flex-column" slot="content">
            <input-field endSlot="cm" label="Rechts" [(model)]="rawNewData.forearm.right" ></input-field>
            <input-field endSlot="cm" label="Links" [(model)]="rawNewData.forearm.left" ></input-field>
          </div>
        </ion-accordion>

        <ion-accordion value="leg">
          <ion-item slot="header" color="">
            <ion-label>Bein</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <input-field endSlot="cm" label="Rechts" [(model)]="rawNewData.leg.right" ></input-field>
            <input-field endSlot="cm" label="Links" [(model)]="rawNewData.leg.left" ></input-field>
          </div>
        </ion-accordion>
      </ion-accordion-group>


    </ion-content>
  </ng-template>
</ion-modal>
