<div class="top-page-margin"></div>
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-text>
        Wähle eine Zeitspanne
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <full-calendar [options]="calendarOptions" class=""></full-calendar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-datetime-button datetime="startDate"></ion-datetime-button>
    </ion-col>
    <ion-col>
      <ion-datetime-button datetime="endDate"></ion-datetime-button>
    </ion-col>
  </ion-row>
</ion-grid>


