

<label class="ion-padding-horizontal ion-padding-top h5">{{label}}</label>


  <ion-item>
    <ion-input
      placeholder="Daten eingeben..."
      [formControl]="FormControl"
      [inputmode]="type == 'number'? 'decimal' : ''"
      [type]="type"
      [min]="0"
      required="true">
    </ion-input>
    <ion-text slot="end">{{endSlot}}</ion-text>
  </ion-item>



<div class="ion-margin-bottom ion-padding-start d-block">
  <ion-text *ngIf="FormControl.dirty" color="danger" class="">
    <small *ngIf="FormControl.invalid">Gib korrekte Daten ein</small>
  </ion-text>
</div>
