// exercises-modal.component.scss
.exercise-card {
  ion-card-content {
    padding: 0;
  }

  ion-card-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .goal-icon {
      color: limegreen;
      margin-left: 0.5rem;
    }

    .edit-icon {
      font-size: 1rem;
    }

  }



  .exercise-details {
    .headers {
      font-weight: bold;
      background-color: #3a3a3a;
      color: white;
    }

    .goal {
      background-color: #5a5a5a;
      color: white;
    }

    .actual {
      background-color: #4a4a4a;
      color: white;
    }


  }
}
