
<ion-split-pane contentId="main-content">

  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">{{title}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>


        <ion-menu-toggle autoHide="false" *ngFor="let page of sidebarItems; let i = index">
          <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [icon]="page.icon"></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>


    </ion-content>
  </ion-menu>


  <ion-content id="main-content">
    <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
    <ion-buttons class="position-sticky">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-grid [fixed]="true">
      <router-outlet></router-outlet>
    </ion-grid>
  </ion-content>

</ion-split-pane>
