
.dashboard-bg {
  width: 100%;
  position: fixed;
  z-index: -1;

  object-fit: cover;
}

.content {
  margin-top: 70vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px 30px rgba(0,0,0,0.8);
  background-origin: content-box;
}
