/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';




ion-content::part(scroll) {
  scrollbar-width: thin;
  scrollbar-color: var(--ion-color-primary) #000;
}

ion-radio::part(container) {
  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  // background: #6815ec;
  // border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}

ion-toast {
  --border-radius: 15px;
}

ion-item.item-input {
  border-radius: 20px;
}

ion-item.item-input + ion-text small{
  font-size: 75%;
  display: block;
}


ion-button {
  --border-radius: 10px;
}

.d-inline-grid{
  display: inline-grid;
}

.d-grid{
  display: grid;
}

.float-left{
  float: left;
}

a {
  text-decoration: unset;
  color: var(--ion-color-success);
}

.my-alert {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
  color: var(--ion-color-danger-contrast);
  background-color: var(--ion-color-danger-shade);
}

.is-not-loading ion-progress-bar {
  display: none;
}

ion-split-pane {
  --side-max-width: var(--side-min-width);
}

.ion-page {
  // overflow: scroll !important;
  display: block;
}

ion-router-outlet .ion-page {
  overflow: auto;
}

:host(ion-card) {
  overflow: auto;
}

.top-page-margin {
  margin-top: 3rem;
}

/** remove Arrows/Spinners from input field **/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}
