<div class="top-page-margin"></div>
<ion-grid [fixed]="true">
  <ion-row>
    <ion-col class="d-flex">
      <ion-avatar class="ion-margin-end">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <div>
        <h2>{{iAmService.iAmUser.name || 'Not found'}}</h2>
        <ion-note>{{iAmService.iAmUser.username || 'Not found'}}</ion-note>
      </div>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" class="top-page-margin" color="danger" (click)="logout()">
        <ion-icon slot="start" size="large" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>



